<head>
  <meta charset="utf-8" />
  <title>User login</title>
  <base href="/resetuserpasswd" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<div align="center">
  <h1><u>Reset user password</u></h1>
  <h2><u>Provider your username or the email with which you registered!</u></h2>
</div>
<!-- form for user password reset-->
<table align="center">
  <tr>
    <td><b>Your username:</b></td>
    <div align="left">
      <td colspan="2">
        <mat-form-field
          class="input-field-full-width"
          style="width: 250px;"
          appearance="fill"
        >
          <mat-label><b>type here your username !</b></mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </td>
    </div>
  </tr>
  <tr>
    <td><b>Your Email:</b></td>
    <td colspan="2">
      <div align="left">
        <mat-form-field
          class="input-field-full-width"
          appearance="fill"
          style="width: 250px;"
        >
          <mat-label><b>type here your email!</b></mat-label>
          <input matInput type="text" style="width: 250px;" />
        </mat-form-field>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
  </tr>
</table>
<div align="center">
  <a routerLink=""
    ><button mat-raised-button style="font-weight: bold;" color="warn">
      <u
        >Reset password!!! (check your email box and acknowledge your password
        reset!)</u
      >
    </button></a
  >
</div>
