<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User account</title>
    <base href="/useracn" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <div align="center">
      <h1><u>User account</u></h1>
    </div>
    <div align="center">
      <h2>
        Here you can set up your profile and view settings for the view of your
        job applications
      </h2>
    </div>
    <div align="center">
      <!--user account upload image-->
      <mat-card style="margin-top: 10px; width: 50%;">
        <mat-card-content>
          User image
        </mat-card-content>
      </mat-card>
      <br />
      <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>&nbsp;
        <input #imageInput type="file" accept="image/*" />
      </label>
    </div>
    <br /><br />
    <!--user account upload image-->

    <!-- user personal information -->
    <div align="center">
      <table>
        <tr>
          <td><b>User first name:</b></td>
          <td><b>Muser name</b></td>
        </tr>
        <tr>
          <td><b>User last name:</b></td>
          <td><b>Muster last name</b></td>
        </tr>
        <tr>
          <td><b>User email:</b></td>
          <td><b>test@test.com</b></td>
        </tr>
        <tr>
          <td><b>User city:</b></td>
          <td><b>test city</b></td>
        </tr>
        <tr>
          <td><b>User job status:</b></td>
          <td><b>Contractor</b></td>
        </tr>
        <tr>
          <td><b>Most applied job:</b></td>
          <td>
            <b>Java developer</b>
          </td>
        </tr>
      </table>
    </div>
    <br />
    <table align="center">
      <tr>
        <td>
          <b>Amount of applications which are already sent:&nbsp;</b><b>5000</b>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Amount of applications to be displayed on view current applications
            page:</b
          >
        </td>
        <td width="350px">
          <div class="form-group">
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label
                ><b
                  >Write number of max job applications displayed per page</b
                ></mat-label
              >
              <input
                matInput
                type="text"
                value="10"
                style="font-weight: bold;"
              />
            </mat-form-field>
          </div>
        </td>
      </tr>
    </table>

    <div align="center">
      <!--user multiple upload of files-->
      <h2>User personal file storage</h2>
      <div class="form-group">
        <label for="file"
          >Personal user files, upload your cv, cover letter, certificates,
          credentials
        </label>
        <input
          formControlName="file"
          id="file"
          type="file"
          multiple
          class="form-control"
        />
      </div>
    </div>
    <!--user multiple upload of files-->
    <br />
    <br />
    <div align="center">
      <button mat-raised-button color="warn">
        Delete user accoount! (After this all your data stored int this platform
        will be irrevocably deleted!)
      </button>
    </div>
  </body>
</html>
