<h1 align="center"><u>Email SMTP settings</u></h1>
<br />

<div align="center">
  <h2><u>Please, take notice:</u></h2>
  <font color="red"
    ><b>You can change this settings <u>only 3 times!</u></b
    ><br />
    <b>
      After that the last settings are locked and you need to contact your
      <a routerLink="/impressum">administrator!</a></b
    ><br />
    <b
      >If you use different and non standard SMTP port contact
      <a routerLink="/impressum">administrator!</a></b
    ></font
  >
</div>
<br />
<div align="center">
  <form [formGroup]="smtpSettingSaveForm">
    <table>
      <tr>
        <td>
          <div align="right">
            <b><u>Email server host:</u></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <mat-form-field style="width: 358px">
            <label for="smtpServerHost"><b>SMTP server host</b></label>
            <input
              type="text"
              matInput
              placeholder="provide ip or hostname of your email smtp host!"
              formControlName="smtpHostFormControl"
          /></mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <b><u>Email server port:</u></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <mat-form-field
            style="width: 350px; font-weight: bold"
            appearance="fill"
          >
            <mat-label>Select your SMTP email port:</mat-label>
            <mat-select formControlName="selSmtpPortFormControl">
              <mat-option
                *ngFor="
                  let selItemSmtpEmailPort of selectionViewForDifferentSmtpEmailPorts
                "
                [value]="selItemSmtpEmailPort.value"
              >
                {{ selItemSmtpEmailPort.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <b><u>SMTP user name:</u></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <mat-form-field style="width: 440px">
            <label for="smtpUserName"><b>SMTP user name</b></label>
            <input
              type="text"
              matInput
              placeholder="provide username which you user for sending your emails!"
              formControlName="smtpUserNameFormControl"
          /></mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <b><u>SMTP user password:</u></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <mat-form-field style="width: 440px">
            <label for="smtpUserPassword"><b>SMTP user password</b></label>
            <input
              type="password"
              matInput
              placeholder="provide password which you for sending your emails!"
              formControlName="smtpUserPasswordFormControl"
          /></mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <b><u>Have you selected a SMTP port 465?</u></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <mat-form-field
            style="width: 250px; font-weight: bold"
            appearance="fill"
          >
            <mat-label>Confirm usage of port 465</mat-label>
            <mat-select
              formControlName="selUserSelectionForSecureSSLTLSFormControl"
            >
              <mat-option
                *ngFor="
                  let selItemUserInputForSSLTLSPortUsage of selectionViewForUsageOfSecureSslTlsPort
                "
                [value]="selItemUserInputForSSLTLSPortUsage.value"
              >
                {{ selItemUserInputForSSLTLSPortUsage.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <b><u>Here by i confirm that i have read the European</u></b
            >&nbsp;
            <b> <a href="https://gdpr.eu/tag/gdpr/">GDPR law</a></b>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <section>
            <mat-checkbox
              ngDefaultControl
              [(ngModel)]="UserChkBoxChekedForGDPR"
              formControlName="chkBoxUserConfirmReadGDPRFormControl"
            >
              <mat-label style="font-weight: bold"
                >By clicking at this checkbox<br />You confirm that you aware
                and read GDPR European law.</mat-label
              >
              <mat-error *ngIf="smtpSettingSaveForm.hasError('required')">
                <strong>Required:</strong>
                You need to checked GDPR checkbox in order to proceed with
                saving of SMTP email settings !
              </mat-error>
            </mat-checkbox>
          </section>
        </td>
      </tr>
      <tr>
        <td></td>
        <td width="2%">&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div align="right">
            <button
              mat-raised-button
              style="font-weight: bold"
              color="checkemailsettings"
            >
              Check provided email settings!
            </button>
          </div>
        </td>
        <td width="2%"></td>
        <td>
          <b
            >TODO: here user must see after button click following message: fail
            or message: success!</b
          >
        </td>
      </tr>
    </table>
    <br />
    <br />
    <div align="center">
      <table>
        <tr>
          <td>
            <div align="center">
              <button
                mat-raised-button
                style="font-weight: bold"
                color="primary"
                (click)="onFormSubmit()"
              >
                Save SMTP email settings
              </button>
            </div>
          </td>
          <td width="2%">&nbsp;</td>
          <td>
            <div align="center">
              <button
                mat-raised-button
                style="font-weight: bold"
                color="warn"
                (click)="resetsmtpSettingSaveForm()"
              >
                Reset this form
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
<br />
