<!--This is main component which works like stages in theater all other components loaded here and presented to
the user one by one trought interaction with web ui!-->
<!-- header -->

<b><u>Test menu</u></b
>&nbsp;&nbsp;
<!--This menu is temporary write better menu!-->
<a routerLink="">main</a>&nbsp;&nbsp;
<a routerLink="/login">login</a>&nbsp;&nbsp;
<a routerLink="/register">register</a>&nbsp;&nbsp;
<a routerLink="/legal">legal</a>
<br /><br />
<b><u>Test menu for auth user:</u></b> >&nbsp;&nbsp;
<b><a routerLink="/useracn">My user account</a></b
>&nbsp;&nbsp;
<b><a routerLink="/currentjobapps">View current applications</a></b
>&nbsp;&nbsp;<b><a routerLink="/createnewjobappl">Create new application</a></b
>&nbsp;&nbsp;<b><a routerLink="/createnewemailfromjobappl"
    >Create emails from applications</a
  ></b
>&nbsp;&nbsp; <b>Search for application</b>&nbsp;&nbsp;
<b>Select applications for print view</b>&nbsp;&nbsp;
<b>Select application for deletion</b>&nbsp;&nbsp;
<b>logout</b>
<router-outlet></router-outlet>

<br /><br /><br /><br /><br /><br /><br /><br />

<!-- Footer -->
<div align="center">
    <br />
    <h3>
        2020 Created by
        <a href="http://www.javaprofide.de">Alexander Orlovsky </a> <br /> License:
        <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1">LGPL</a>
    </h3>
</div>
<!-- Footer -->