<!--This is main component which works like stages in theater all other components loaded here and presented to
the user one by one trought interaction with web ui!-->
<!-- header -->

<br />
<div align="center">
  <!--This menu is temporary write better menu!-->
  <a routerLink=""
    ><button mat-raised-button style="font-weight: bold" color="primary">
      Home
    </button></a
  >&nbsp;&nbsp;
  <a routerLink="/login"
    ><button mat-raised-button style="font-weight: bold" color="primary">
      Login
    </button></a
  >&nbsp;&nbsp;
  <a routerLink="/register"
    ><button mat-raised-button style="font-weight: bold" color="primary">
      Register
    </button></a
  >&nbsp;&nbsp;
  <a routerLink="/legal"
    ><button mat-raised-button style="font-weight: bold" color="primary">
      Legal
    </button></a
  >
</div>
<br />
<div align="left">
  <b style="color: red"
    ><u>Test menu for auth user after successeful login:</u></b
  >&nbsp;&nbsp;
  <!-- add here the ngIf statement which should check if the user have right to access it !
    if so then it should display this menu, but otherwise dont!-->
  <button
    *ngIf="_displayLogin"
    mat-raised-button
    style="font-weight: bold; background-color: darkblue"
  >
    <b><a routerLink="/useracn" style="color: white">My user account</a></b>
  </button>
  &nbsp;&nbsp;
  <button
    *ngIf="_displayLogin"
    mat-button
    [matMenuTriggerFor]="belowMenu"
    style="font-weight: bold; background-color: darkblue; color: white"
  >
    I would like to
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button
      *ngIf="_displayLogin"
      mat-menu-item
      style="font-weight: bold; background-color: rgb(23, 9, 127)"
    >
      <b
        ><a routerLink="/currentjobapps" style="color: white"
          >View current applications</a
        ></b
      >
    </button>
    <button
      *ngIf="_displayLogin"
      mat-menu-item
      style="font-weight: bold; background-color: rgb(23, 9, 127)"
    >
      <b
        ><a routerLink="/createnewjobappl" style="color: white"
          >Create new application</a
        ></b
      >
    </button>
    <button
      *ngIf="_displayLogin"
      mat-menu-item
      style="font-weight: bold; background-color: rgb(23, 9, 127)"
    >
      <b
        ><a routerLink="/createnewemailfromjobappl" style="color: white"
          >Create emails from applications</a
        ></b
      >
    </button>
    <button
      *ngIf="_displayLogin"
      mat-menu-item
      style="font-weight: bold; background-color: rgb(23, 9, 127)"
    >
      <b
        ><a routerLink="/searchforajobapplication" style="color: white"
          >Search for job application</a
        ></b
      >
    </button>
    <button
      *ngIf="_displayLogin"
      mat-menu-item
      style="font-weight: bold; background-color: red"
    >
      <b
        ><a routerLink="/userselectjobapplfordel" style="color: white"
          >Select job application for deletion</a
        ></b
      >
    </button>
  </mat-menu>
  &nbsp;&nbsp;
  <button
    *ngIf="_displayLogin"
    mat-raised-button
    style="font-weight: bold; background-color: darkblue"
  >
    <b
      ><a routerLink="/printviewofselectedtimeline" style="color: white"
        >Job applications print view for timeline</a
      ></b
    ></button
  >&nbsp;&nbsp;<b>
    <a routerLink=""
      ><button
        *ngIf="_displayLogin"
        mat-raised-button
        style="font-weight: bold"
        color="warn"
      >
        <u>Logout</u>
      </button></a
    >
  </b>
</div>
<router-outlet></router-outlet>
<div>Auth menu state : {{ _displayLogin }}</div>
<br /><br /><br />

<!-- Footer -->
<div align="center">
  <br />
  <h3>
    2020 Created by
    <a href="http://www.javaprofide.de">Alexander Orlovsky </a> <br />
    License:
    <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1">LGPL</a>
  </h3>
</div>
<!-- Footer -->
