<head>
  <meta charset="utf-8" />
  <title>Create new job application</title>
  <base href="/createnewjobappl" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<div align="center">
  <h1>
    <u>Create new job application</u>
  </h1>
</div>
<div align="center">
  <form class="newjobapplication-form" [formGroup]="newJobApplForm">
    <table cellpadding="2px" cellspacing="2px" align="left">
      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="dateOfJobApplicationSend"
                ><b>Date when job application was send:</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="5ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Day.Month.Year</mat-label>
              <input
                matInput
                formControlName="dateInputFormatControl"
                type="text"
              />

              <mat-error *ngIf="newJobApplForm.hasError('required')">
                <strong>Required:</strong> Please provide correct date
                day.month.year!
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="jobApplicant country"><b>Country:</b>&nbsp;</label>
            </div>
          </td>
          <td width="215ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Country where you apply</mat-label>
              <input
                matInput
                formControlName="countryInputFormatControl"
                type="text"
              />
              <mat-error
                *ngIf="
                  newJobApplForm.hasError('maxlength') &&
                  newJobApplForm.hasError('minlength') &&
                  !newJobApplForm.hasError('required')
                "
              >
                Please enter a country name!
              </mat-error>
              <mat-error *ngIf="newJobApplForm.hasError('minlength')">
                Please provide correct country name!
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="City"><b>City:</b>&nbsp;</label>
            </div>
          </td>
          <td width="245ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>City where you apply</mat-label>
              <input
                matInput
                type="text"
                formControlName="cityInputFormatControl"
              />
              <mat-error
                *ngIf="
                  newJobApplForm.hasError('maxlength') &&
                  newJobApplForm.hasError('minlength') &&
                  !newJobApplForm.hasError('required')
                "
              >
                Please enter a city name!
              </mat-error>
              <mat-error *ngIf="newJobApplForm.hasError('minlength')">
                Please provide correct city name!
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td width="125ptx">
            <div align="left">
              <label for="Industry type"><b>Industry type:</b>&nbsp;</label>
            </div>
          </td>
          <td width="168ptx"></td>
          <td width="300ptx">
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Examples: Military, Logistics, Banking</mat-label>
              <input
                matInput
                formControlName="companyIndustryTypeFormatcontrol"
                type="text"
              />
              <mat-error
                *ngIf="
                  newJobApplForm.hasError('maxlength') &&
                  newJobApplForm.hasError('minlength') &&
                  !newJobApplForm.hasError('required')
                "
              >
                Please a proper industry description!
              </mat-error>
              <mat-error *ngIf="newJobApplForm.hasError('minlength')">
                Please provide correct industry description!
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="Company size type:"
                ><b>Company size type:</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="138ptx"></td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Company size: </mat-label>

              <mat-select formControlName="selCompanySizeTypeFormControl">
                <mat-option
                  *ngFor="
                    let selItemCompanySize of selectionViewForDifferentCompanySizeTypes
                  "
                  [value]="selItemCompanySize.value"
                >
                  {{ selItemCompanySize.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="Company type:"><b>Company type:</b>&nbsp;</label>
            </div>
          </td>
          <td width="170ptx"></td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Business type</mat-label>

              <mat-select formControlName="selCompanyBusinessTypeFormControl">
                <mat-option
                  *ngFor="
                    let selItemCompanyBusinessType of selectionViewForDifferentCompanyTypes
                  "
                  [value]="selItemCompanyBusinessType.value"
                >
                  {{ selItemCompanyBusinessType.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="Company contact email:"
                ><b>Company contact email:</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="100ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Company contact email:</mat-label>
              <input
                matInput
                type="email"
                formControlName="companyContactEmailFormatcontrol"
                placeholder="Ex. youremail@example.com"
              />
              <mat-error
                *ngIf="
                  newJobApplForm.hasError('email') &&
                  newJobApplForm.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="Company contact person salutation type:"
                ><b
                  >Company contact person<br />
                  salutation type:</b
                >&nbsp;</label
              >
            </div>
          </td>
          <td width="98ptx"></td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Salutation type</mat-label>

              <mat-select
                formControlName="selCompanyContactSalutationFormcontrol"
              >
                <mat-option
                  *ngFor="
                    let selItemCompanySalutationType of selectionViewForDifferentCompanyContactSalutationTypes
                  "
                  [value]="selItemCompanySalutationType.value"
                >
                  {{ selItemCompanySalutationType.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="Company contact person last name:"
                ><b>Company contact person last name:</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="10ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Contact last name</mat-label>
              <input
                matInput
                type="text"
                formControlName="companyContactLastNameFormatcontrol"
              />
              <mat-error
                *ngIf="
                  newJobApplForm.hasError('maxlength') &&
                  newJobApplForm.hasError('minlength') &&
                  !newJobApplForm.hasError('required')
                "
              >
                Please provide valid name for your contact!
              </mat-error>
              <mat-error *ngIf="newJobApplForm.hasError('minlength')">
                Please provide valid name for your contact!
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td width="100ptx">
            <div align="left">
              <label for="Add note:"><b>Add note:</b>&nbsp;</label>
            </div>
          </td>
          <td width="98ptx">&nbsp;</td>
          <td>
            <div align="right">
              <mat-form-field
                class="input-field-full-width"
                appearance="fill"
                style="width: 306px"
              >
                <mat-label>What do you like to add as description?</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="addNoteaboutCompanyFormatControl"
                />
                <mat-error
                  *ngIf="
                    newJobApplForm.hasError('maxlength') &&
                    newJobApplForm.hasError('minlength') &&
                    !newJobApplForm.hasError('required')
                  "
                >
                  Please provide some meaningful description!
                </mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </div>
    </table>
    <table width="100%">
      <tr>
        <td>
          <div align="left">
            <button mat-raised-button color="primary" (click)="onFormSubmit()">
              Create and add new application
            </button>
          </div>
        </td>
        <td>
          <div align="right">
            <button
              mat-raised-button
              color="warn"
              (click)="resetAddNewJobApplForm()"
            >
              Reset form
            </button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
