<head>
  <meta charset="utf-8" />
  <title>User login</title>
  <base href="/searchforajobapplication" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<div align="center">
  <h1>Login</h1>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="mainPageForm" (ngSubmit)="login(mainPageForm)">
        <table>
          <div class="form-group">
            <tr>
              <td>
                <label for="username"><b>Email</b></label>
              </td>
              <td width="50px"></td>
              <td>
                <mat-form-field
                  class="input-field-full-width"
                  appearance="fill"
                >
                  <mat-label>Type here your email</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        getAllUserInputFromMainPageForm.username.errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      getAllUserInputFromMainPageForm.username.errors
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        getAllUserInputFromMainPageForm.username.errors.required
                      "
                    >
                      Username is required
                    </div>
                  </div>
                </mat-form-field>
              </td>
            </tr>
          </div>

          <div class="form-group">
            <tr>
              <td>
                <label for="password"><b>Password</b></label>
              </td>
              <td width="20px"></td>
              <td>
                <mat-form-field
                  class="input-field-full-width"
                  appearance="fill"
                >
                  <mat-label>Type here your password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        getAllUserInputFromMainPageForm.password.errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      getAllUserInputFromMainPageForm.password.errors
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        getAllUserInputFromMainPageForm.password.errors.required
                      "
                    >
                      Password is required
                    </div>
                  </div>
                </mat-form-field>
              </td>
            </tr>
          </div>
        </table>
        <br />
        <table align="center">
          <tr>
            <td>
              <div align="right">
                <button
                  mat-raised-button
                  color="primary"
                  style="width: 150px"
                  [disabled]="mainPageForm.invalid"
                >
                  Login
                </button>
              </div>
            </td>
            <td width="20px"></td>
            <td>
              <div align="left">
                <button mat-raised-button color="warn" style="width: 150px">
                  <a routerLink="/resetuserpasswd" style="color: white">
                    Reset password!</a
                  >
                </button>
              </div>
            </td>
          </tr>
        </table>
        <table align="center">
          <tr>
            <td>
              <div
                align="center"
                *ngIf="loginError"
                class="mat-caption error"
                style="font-weight: bold; color: red"
              >
                {{ loginError }}
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
