<div align="center">
    <u><h1>Legal disclaimer for project job manager 2020 Angular version!</h1></u>
</div>
<br />

<div align="left">
    <table>
        <tr>
            <td width="50ptx">&nbsp;</td>
            <td>
                <h2>
                    The information contained in this website is for general information purposes only.
                </h2>
            </td>
        </tr>
        <tr>
            <td width="50ptx">&nbsp;</td>
            <td>
                The information is provided by whoever runs it on public available internet hosts and while we creators and developers of job manager 2020 endeavour to keep the information up to date and correct, we make no representations or warranties of any kind,
                express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the job manager 2020 web platform or the information, products, services, or related graphics contained on the website for any
                purpose.
            </td>
            <td width="50ptx">&nbsp;</td>
        </tr>
    </table>
</div>

<div align="left">
    <table>
        <tr>
            <td width="50ptx">&nbsp;</td>
            <td>
                <h2>
                    <b>Any reliance you place on such information is therefore strictly at
            your own risk!
          </b>
                </h2>
            </td>
        </tr>
        <tr>
            <td width="50ptx">&nbsp;</td>
            <td>
                In no event will we the creators and developers of web platform job manager 2020 be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits
                arising out of, or in connection with, the use of this web platform.<br /> Through this web platform you are able to link to other websites which are not under the control of whoever which runs this webplatform on public
                available internet hosts.
            </td>
            <td width="50ptx">&nbsp;</td>
        </tr>
    </table>
</div>

<table>
    <tr>
        <td width="50ptx">&nbsp;</td>
        <td>
            <h2>
                <div align="left">
                    <b>
            We have no control over the nature, content and availability of
            those external sites.
          </b>
                </div>
            </h2>
        </td>
    </tr>
    <tr>
        <td width="50ptx">&nbsp;</td>
        <td>
            <h2>
                <div align="left">
                    The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
                </div>
            </h2>
        </td>
        <td width="50ptx">&nbsp;</td>
    </tr>

    <tr>
        <td width="50ptx">&nbsp;</td>
        <td>
            <h2>
                <div align="left">
                    Whoever which runs this web platform should make effort to keep this web platform up and running smoothly and safe and respect users private data and store the users private data accordingly to data protection law's of the countries where this platform
                    is hosted.
                </div>
            </h2>
        </td>
        <td width="50ptx">&nbsp;</td>
    </tr>
</table>
<table>
    <td width="50ptx">&nbsp;</td>
    <td>
        <div align="left">
            <b><u
          >However, whoever which runs this web platform takes no responsibility
          for and will not be liable for if the website being temporarily
          unavailable due to technical issues beyond of whoever which runs this
          web platform control.</u
        ></b
      >
    </div>
  </td>
  <td width="50ptx">&nbsp;</td>
</table>