<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>New user registration</title>
    <base href="/newuserregistration" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1>New user registration!</h1>
    <!--  <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
    <form [formGroup]="registerNewUserForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.firstName.errors
          }"
        />
        <div
          *ngIf="submitted && getAllUserInputFromRegisterForm.firstName.errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAllUserInputFromRegisterForm.firstName.errors.required"
          >
            First Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.lastName.errors
          }"
        />
        <div
          *ngIf="submitted && getAllUserInputFromRegisterForm.lastName.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getAllUserInputFromRegisterForm.lastName.errors.required">
            Last name is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userEmail">Your email adress</label>
        <input
          type="text"
          formControlName="userEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.userEmail.errors
          }"
        />
        <div
          *ngIf="submitted && getAllUserInputFromRegisterForm.userEmail.errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAllUserInputFromRegisterForm.userEmail.errors.required"
          >
            Valid email is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userCity">Your city</label>
        <input
          type="text"
          formControlName="userCity"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.userCity.errors
          }"
        />
        <div
          *ngIf="submitted && getAllUserInputFromRegisterForm.userCity.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getAllUserInputFromRegisterForm.userCity.errors.required">
            City name is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userBirthday">Your birthday</label>
        <input
          type="text"
          formControlName="userBirthday"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.userBirthday.errors
          }"
        />
        <div
          *ngIf="
            submitted && getAllUserInputFromRegisterForm.userBirthday.errors
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="getAllUserInputFromRegisterForm.userBirthday.errors.required"
          >
            Please provide your birthday : day.month.year !
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userCountry">Your country</label>
        <input
          type="text"
          formControlName="userCountry"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.userCountry.errors
          }"
        />
        <div
          *ngIf="
            submitted && getAllUserInputFromRegisterForm.userCountry.errors
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="getAllUserInputFromRegisterForm.userCountry.errors.required"
          >
            Please provide your country name !
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userStreetName">Your street</label>
        <input
          type="text"
          formControlName="userStreetName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && getAllUserInputFromRegisterForm.userStreetName.errors
          }"
        />
        <div
          *ngIf="
            submitted && getAllUserInputFromRegisterForm.userStreetName.errors
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              getAllUserInputFromRegisterForm.userStreetName.errors.required
            "
          >
            Please provide your stree name !
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="userStreetNumber">Your street number</label>
        <input
          type="text"
          formControlName="userStreetNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted &&
              getAllUserInputFromRegisterForm.userStreetNumber.errors
          }"
        />
        <div
          *ngIf="
            submitted && getAllUserInputFromRegisterForm.userStreetNumber.errors
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              getAllUserInputFromRegisterForm.userStreetNumber.errors.required
            "
          >
            Please provide your street number !
          </div>
        </div>
      </div>

      <!--yet to be implemented!
      <div class="form-group">
        <label for="userSelectedJobState">Select your current job state</label>

        <select
          matNativeControl
          [(ngModel)]="selectedJobStateByUser"
          name="selectionsForCurrentJobState"
        >
          <option value="" selected></option>
          <option
            *ngFor="let employemntCurrent of givenEmploymentsstates"
            [value]="UserEmploymentTypes.value"
          >
            {{ employemntCurrent.viewValue }}
          </option>
        </select>
      </div>
-->
      <br />
      <div class="form-group">
        <a routerLink="../register" class="btn btn-link"
          >Click here for registration!!!!!</a
        >
      </div>
    </form>
  </body>
</html>
