<head>
  <meta charset="utf-8" />
  <title>New user registration</title>
  <base href="/newuserregistration" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<div align="center">
  <h1><u>New user registration!</u></h1>

  <form [formGroup]="registerNewUserForm" (ngSubmit)="onSubmit('newuserreg')">
    <table cellpadding="2px" cellspacing="2px" align="center">
      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="firstName"><b>First name</b>&nbsp;</label>
            </div>
          </td>
          <td width="70ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your first name</mat-label>
              <input
                matInput
                type="text"
                name="firstName"
                formControlName="firstName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.firstName.errors
                }"
              />
              <div
                *ngIf="
                  submitted && getAllUserInputFromRegisterForm.firstName.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.firstName.errors.required
                  "
                >
                  <b> First Name is required</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="lastName"><b>Last name</b>&nbsp;</label>
            </div>
          </td>
          <td width="70ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your last name</mat-label>
              <input
                matInput
                type="text"
                name="lastName"
                formControlName="lastName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted && getAllUserInputFromRegisterForm.lastName.errors
                }"
              />
              <div
                *ngIf="
                  submitted && getAllUserInputFromRegisterForm.lastName.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.lastName.errors.required
                  "
                >
                  <b>Last name is required!</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userEmail"><b>Your email adress</b>&nbsp;</label>
            </div>
          </td>
          <td width="15ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your email</mat-label>
              <input
                matInput
                type="text"
                name="userEmail"
                formControlName="userEmail"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.userEmail.errors
                }"
              />
              <div
                *ngIf="
                  submitted && getAllUserInputFromRegisterForm.userEmail.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userEmail.errors.required
                  "
                >
                  <b>Valid email is required!</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userCity"><b>Your city</b>&nbsp;</label>
            </div>
          </td>
          <td width="85ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Provide city name</mat-label>
              <input
                matInput
                type="text"
                name="userCity"
                formControlName="userCity"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted && getAllUserInputFromRegisterForm.userCity.errors
                }"
              />
              <div
                *ngIf="
                  submitted && getAllUserInputFromRegisterForm.userCity.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userCity.errors.required
                  "
                >
                  <b>City name is required!</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userBirthday"><b>Your birthday</b>&nbsp;</label>
            </div>
          </td>
          <td width="50ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your birthday</mat-label>
              <input
                matInput
                type="text"
                name="userBirthday"
                formControlName="userBirthday"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.userBirthday.errors
                }"
              />
              <div
                *ngIf="
                  submitted &&
                  getAllUserInputFromRegisterForm.userBirthday.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userBirthday.errors.required
                  "
                >
                  <b>Please provide your birthday : day.month.year !</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userCountry" align="center"
                ><b>Your country</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="56ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your country name</mat-label>
              <input
                matInput
                type="text"
                name="userCountry"
                formControlName="userCountry"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.userCountry.errors
                }"
              />
              <div
                *ngIf="
                  submitted &&
                  getAllUserInputFromRegisterForm.userCountry.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userCountry.errors.required
                  "
                >
                  <b> Please provide your country name !</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userStreetName"><b>Your street</b>&nbsp;</label>
            </div>
          </td>
          <td width="70ptx"></td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your stree name</mat-label>
              <input
                matInput
                type="text"
                name="userStreetName"
                formControlName="userStreetName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.userStreetName.errors
                }"
              />
              <div
                *ngIf="
                  submitted &&
                  getAllUserInputFromRegisterForm.userStreetName.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userStreetName.errors
                      .required
                  "
                >
                  <b>Please provide your street name !</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userStreetNumber"
                ><b>Your street number</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="13ptx">&nbsp;</td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <mat-label>Your street number</mat-label>
              <input
                matInput
                type="text"
                name="userStreetNumber"
                formControlName="userStreetNumber"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    getAllUserInputFromRegisterForm.userStreetNumber.errors
                }"
              />
              <div
                *ngIf="
                  submitted &&
                  getAllUserInputFromRegisterForm.userStreetNumber.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.userStreetNumber.errors
                      .required
                  "
                >
                  <b> Please provide your street number !</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <div class="form-group">
        <tr>
          <td>
            <div align="center">
              <label for="userEmploymentState"
                ><b>Your current job state</b>&nbsp;</label
              >
            </div>
          </td>
          <td width="13ptx">&nbsp;</td>
          <td>
            <mat-form-field class="input-field-full-width" appearance="fill">
              <select
                matNativeControl
                required
                formControlName="preselectedJobState"
              >
                <option
                  *ngFor="let pf of userpossiblejobstates"
                  [ngValue]="pf.name"
                >
                  {{ pf.name }}
                </option>
              </select>
              <div
                *ngIf="
                  submitted &&
                  getAllUserInputFromRegisterForm.preselectedJobState.errors
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    getAllUserInputFromRegisterForm.preselectedJobState.errors
                      .required
                  "
                >
                  <b> Please select your current job state !</b>
                </div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </div>

      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <div align="center">
              <button
                [disabled]="loading"
                mat-raised-button
                color="primary"
                type="submit"
              >
                <span *ngIf="loading"></span>
                Click here for registration!!!!!
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
