<head>
  <meta charset="utf-8" />
  <title>User login</title>
  <base href="/impressum" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<div align="center">
  <h1><u>Impressum</u></h1>
  <br />
  This platform run by following organisation :
  <b>ToDo: output name of organization</b><br />
  Main administrator of this platform is:<b>
    ToDo output name of the administrator</b
  ><br />
  <b
    ><u
      >Official address of the ToDO: output the description of organisation:</u
    ></b
  ><br />
  <font color="red"><b>ToDo: output the adress of the admin!</b></font
  >&nbsp;
  <b>(this required by the German GDPR law!):</b>
  <h2><u>Contact administrator</u></h2>
  <br />
  <b>ToDo: contact form!</b><br />
  (this form would consist two input fields and definetly a antispam protection
  and two buttons one for send and another one to reset form)
</div>
