<br /><br />
<b
  ><u
    ><h2>
      Dear visitor you entering a web platform of 21 century for the job
      seekers!
    </h2></u
  ></b
><br />
This platform allow you to organize your job seeking activity in more convenient
way!<br />
<b
  ><u><h2>This include following:</h2></u>
</b>
<b>
  <ul>
    <li>Maintain your current job applications!</li>
    <li>Create new job applications!</li>
    <li>
      Create email with pdf file as enclosure which will be send to your email
      (due to European GDPR law)
    </li>
    <li>Search for application which you already send to companies!</li>
  </ul>
</b>
