<h1 align="center"><u>Register admin user for Jobmanager 2020!</u></h1>
<br />
<div align="center">
  <form [formGroup]="newAdminUserRegForm">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input
        matInput
        placeholder="Firstname"
        formControlName="firstNameControl"
        value="Type here your first name..."
      />
      <mat-error
        *ngIf="
          newAdminUserRegForm.hasError('maxlength') &&
          newAdminUserRegForm.hasError('minlength') &&
          !newAdminUserRegForm.hasError('required')
        "
      >
        Please enter a valid input text for first name
      </mat-error>
      <mat-error *ngIf="newAdminUserRegForm.hasError('required')">
        <strong>Required:</strong> Please provide atleast 4 characters for valid
        first name!
      </mat-error>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input
        matInput
        placeholder="Last name"
        formControlName="lastNameControl"
        value="Type here your last name..."
      />
      <mat-error
        *ngIf="
          newAdminUserRegForm.hasError('maxlength') &&
          newAdminUserRegForm.hasError('minlength') &&
          !newAdminUserRegForm.hasError('required')
        "
      >
        Please enter a valid input text for last name
      </mat-error>
      <mat-error *ngIf="newAdminUserRegForm.hasError('required')">
        <strong>Required:</strong> Please provide atleast 4 characters for valid
        last name !
      </mat-error>
    </mat-form-field>
    <br /><br />
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="emailFormControl"
        placeholder="Ex. youremail@example.com"
      />
      <mat-error
        *ngIf="
          newAdminUserRegForm.hasError('email') &&
          newAdminUserRegForm.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="newAdminUserRegForm.hasError('required')">
        <strong>Required:</strong> Valid email!
      </mat-error>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label>Write password</mat-label>
      <input
        type="password"
        matInput
        formControlName="passwordControl"
        placeholder="user password"
      />
      <mat-error
        *ngIf="
          newAdminUserRegForm.hasError('minlength') &&
          !newAdminUserRegForm.hasError('required')
        "
      >
        Password minimum length 10 characters!
      </mat-error>
      <mat-error *ngIf="newAdminUserRegForm.hasError('required')">
        <strong>Required:</strong> Valid password!
      </mat-error>
    </mat-form-field>
    <br /><br />
    <b>This platform run by following type of organization</b>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Organization or person for running this platform</mat-label>

      <mat-select formControlName="selOrgaFormControl">
        <mat-option
          *ngFor="let adminAffiliate of adminAffiliateOrgas"
          [value]="adminAffiliate.value"
        >
          {{ adminAffiliate.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />
    <section>
      <mat-checkbox
        name="chkBoxGdprState"
        [(ngModel)]="chkBoxGdprState"
        ngDefaultControl
        formControlName="checkBoxGDPRControl"
        color="primary"
        ><b>I am agree to run this platform according to</b>&nbsp;
        <a href="https://gdpr.eu/tag/gdpr/"
          >European General Data Protection Regulation</a
        >
        <mat-error *ngIf="!newAdminUserRegForm.hasError('required')">
          <b><u>Please use this platform responsibly!</u></b>
        </mat-error>
        <mat-error *ngIf="newAdminUserRegForm.hasError('required')">
          <strong>Required:</strong>
          You need to checked GDPR checkbox in order to proceed with this
          registration!
        </mat-error>
      </mat-checkbox>
    </section>
    <br /><br />
    <button mat-raised-button color="warn" (click)="resetNewAdminRegForm()">
      Reset</button
    >&nbsp;&nbsp;
    <button
      mat-raised-button
      name="registrationBtnControl"
      ngDefaultControl
      formControlName="registrationBtnControl"
      color="primary"
      [disabled]="!chkBoxGdprState"
      (click)="onFormSubmit()"
    >
      Register new admin user
    </button>
  </form>
</div>
