<br />
<div align="center">
  <u
    ><h1>
      The page which you looking doesn't exist! <br /><br />Error 404!
    </h1></u
  >
</div>
<br />
<div align="center">
  <h2>
    Maybe we broke some stuff !!&nbsp;
    <br />Highly trained monkey are already dispatched and working on fixing
    this issue!
  </h2>
  <br />
  <h2>In the meanwhile you can:</h2>
  <ul>
    <li><a href routerLink="/welcome">Try to visit main page</a> or</li>
    <br />
    <li>
      write some polite feedback on
      <a href="https://twitter.com/ProJavaOrlovsky">twitter</a>
      or
    </li>
    <br />
    <li>
      contact the <b>main developer</b> of this platform
      <a href="http://javaprofide.de">Alexander Orlovsky</a>
    </li>
  </ul>
</div>
<br />
<div align="center">
  <h2><u>Thank you for your patience!</u></h2>
</div>
